---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
import { projects } from "../data/projects.ts";
---

<Layout titleRu="Кейсы | Portfolio" titleEn="Cases | Portfolio">
	<section class="grid">
		{projects.map((project) => (
			project.slug ? (
				<a href={`/cases/${project.slug}`} class="card">
					<div class="thumb">
					{project.cover && <img src={project.cover} alt={project.titleRu} />}
					</div>
					<h3 data-i18n-ru={project.titleRu} data-i18n-en={project.titleEn}>{project.titleRu}</h3>
					<p data-i18n-ru={project.descriptionRu} data-i18n-en={project.descriptionEn}>
						{project.descriptionRu}
					</p>
				</a>
			) : (
				<div class="card">
					<div class="thumb">
					{project.cover && <img src={project.cover} alt={project.titleRu} />}
					</div>
					<h3 data-i18n-ru={project.titleRu} data-i18n-en={project.titleEn}>{project.titleRu}</h3>
					<p data-i18n-ru={project.descriptionRu} data-i18n-en={project.descriptionEn}>
						{project.descriptionRu}
					</p>
				</div>
			)
		))}
	</section>
</Layout>
